td.hover {
  background: #e4f1df !important;
}
td.allowed {
  background: #eee !important;
}

td .fa {
  font-size: 30px;
}

.userPlanning td:hover {
  cursor: pointer;
  background: lightGray !important;
}

form {
  margin-bottom: 5px;
}

.form-inline .control-label {
  margin-right: 5px;
}

#schedule .flip-container {
  float: left;
  margin-right: 10px;
}

#people-list .flip-container {
  margin-bottom: 10px;
}

#people-list .flip-container,
#people-list .flip-front,
#people-list .flip-back {
  width: 100%;
}
