h1, h2, h3 {
  margin-bottom: 30px;
}

td.hover {
  background: #e4f1df !important;
}
td.allowed {
  background: #eee !important;
}

td .fa {
  font-size: 30px;
}

.userPlanning td:hover {
  cursor: pointer;
  background: lightGray !important;
}

form {
  margin-bottom: 5px;
}

.form-inline .control-label {
  margin-right: 5px;
}

#plannings-list [class^=col] .background {
  margin-bottom: 25px;
}

#plannings-list [class^=col] .background {
  position: relative;
  display: table;
  width: 100%;
  height: 180px;
  padding: 15px;
  background: #eee;
}

#plannings-list [class^=col] .background:hover {
  background: #ddd;
  cursor: pointer;
}

#plannings-list [class^=col] .remove {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  visibility: hidden;
}

#plannings-list [class^=col]:hover .remove {
  visibility: visible;
}

#plannings-list [class^=col] .remove:hover {
  color: #a94442;
}

#plannings-list [class^=col] .content {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
}

#plannings-list [class^=col] .content a {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
}

#plannings-list [class^=col] .content input {
  width: 150px;
  margin-top: 15px;
  text-align: center;
}
