.user-presences-table
  tr
    th, td
      background: white
      vertical-align: middle
    th
      font-weight: bold
      text-align: center
      border-bottom: 2px solid #1A9BD2
      &.event-date
        width: 120px
      &.event-name
        width: 120px
        .event-detail
          display: block
          color: #838383
          font-weight: normal
    td.people-list
      vertical-align: middle
      ul
        margin: 0
        li
          width: 130px
          margin-bottom: 0
  .available-people
    color: green

ul.people-who-did-not-answer
  li
    float: left
    width: 33%
    width: 40%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
