.container
  position relative

.navbar
  .navbar-brand
    img
      position relative
      top -10px
      width 53px
      margin-right 5px
      vertical-align top
  .toggleFluid
    font-size 25px
    line-height 50px
    color #666
    i
      padding: 0 5px 0 11px
    &:hover
      color #333
      cursor: pointer

h1, h2, h3
  margin-bottom 30px

table
  tr
    th
      vertical-align: middle !important
      text-align: center

table.table-bordered
  th, td
    &:last-child
      border-right-width: 1px
