$green = #8CC63F
$gray = #999999
$lightGray = #CCCCCC

#planning-admin
  tr
    td:hover
      background-color: #eee
      cursor: pointer

.people-list
  ul
    li
      margin-bottom: 5px
      padding: 5px 0
      font-size: 16px
      border-radius: 5px
      cursor: pointer
      .bullet
        width: 17px
        height: 17px
        border-radius: 50%
        margin-right: 10px
      .check, .remove
        display: none
        position: relative
        top: 2px
        left: 1px
        width: 17px
        font-size: 16px
        margin-right: 10px
      .bullet, .name
        display: inline-block
        vertical-align: middle
      .name
        margin-top: 2px
      &:hover:not(.selected)
        margin: 5px -10px
        padding: 3px 8px
        border: 2px solid #4E9BED
        .bullet
          background: #4E9BED
      &.selected
        margin: 0 -10px 5px
        padding: 5px 10px
        color: white
        background: #4e9bed
        .bullet
          display: none
        .check
          display: inline-block
        &:hover
          .check
            display: none
          .remove
            display: inline-block
  .available-people
    h3
      color: $green
    ul li .bullet
      background: $green
  .people-who-did-not-answer
    color: $gray
    ul li .bullet
      background: $gray
  .unavailable-people
    color: $lightGray
    ul li .bullet
      background: $lightGray
