.day-no-0
  th, td
    background-color: #FDE9D9
.day-no-4
  th, td
    background-color: #E5DFEC
.day-no-5
  th, td
    background-color: #DBEEF3
.day-no-6
  th, td
    background-color: #D6E3BC

.dayForm
  .form-control
    margin-bottom: 5px
  .customizeDayName
    display: block
    margin: 12px 0
  .dayNameInputGroup
    position: relative
    i
      position: absolute
      right: 9px
      top: 8px
      font-size: 18px
      color: lightGray
      &:hover
        color: #23527c
  .cancel
    line-height: 34px

.schedule-wrapper
  height: 75vh
  padding-right: 7px
  overflow: auto

form
  margin-bottom: 5px

.person
  text-align: center
  margin-bottom: 5px
  padding: 5px

#schedule
  .person
    width: 100%
    img
      display: block
      margin: 0 auto
    .mail-to-be-sent
      display: block
      font-size: 20px
    .buttons
      margin-top: 5px
      white-space: nowrap
      .accept-duty, .reject-duty
        width: 28px
        padding: 2px
        font-size: 24px
        text-align: center
        border-radius: 5px
        &:hover:not(.selected)
          background: lightGray
          cursor: pointer
    .accept-duty
      margin-right: 5px
      &.selected
        background: #3c763d
        color: white
    .reject-duty
      &.selected
        background: #a94442
        color: white

.person
  &.neutral
    color: #31708f
    background-color: #d9edf7
    border-color: #bce8f1
  &.bad
    color: #a94442
    background-color: #f2dede
    border-color: #ebccd1
  &.good
    color: #3c763d
    background: #dff0d8
    border-color: #d6e9c6

.people-list
  .form-inline
    padding: 10px
    background: #f6f6f6
    .control-label
      margin-right: 5px

.people-list, .people-for-duty
  .person
    display: block
    img
      width: 45px
      height: 45px
      margin-right: 10px
      margin-top: -10px
      margin-bottom: -10px

.same-height-columns
  display: flex
  flex: 1 0 auto
  > div
    flex: 1 0 auto
  .divider
    border-right: 1px solid #fafafa
    border-left: 1px solid #f2f2f2

.drop-target
  background: #eee !important
  border: 5px dashed #ddd
.drop-hover
  background: #e4f1df !important

.day-column
  min-width: 180px
