.schedule-wrapper
  height: 75vh
  padding-right: 7px
  overflow: auto

form
  margin-bottom: 5px

.people-list
  .form-inline
    padding: 10px
    background: #f6f6f6
    .control-label
      margin-right: 5px

.people-list, .people-for-duty
  .person
    display: block
    text-align: center
    img
      width: 45px
      height: 45px
      margin-right: 10px
      margin-top: -10px
      margin-bottom: -10px

.send-emails-button
  width: 160px
  transition: width 0.5s ease-in-out, background-color 0.2s ease-in-out
  &.with-icon
    &.btn-primary
      font-size: 20px
      padding: 2px 10px
    &.btn-success
      font-size: 23px
      padding: 0 10px

.same-height-columns
  display: flex
  flex: 1 0 auto
  > div
    flex: 1 0 auto
  .divider
    border-right: 1px solid #fafafa
    border-left: 1px solid #f2f2f2



.drop-target
  background: #eee !important
  border: 5px dashed #ddd
.drop-hover
  background: #e4f1df !important
