#planning-admin
  tbody
    tr
      td:hover
        background-color: #eee
        cursor: pointer
  tfoot
    tr
      th
        background: white
  .person
    &.good
      margin-bottom: 5px
      span
        display: inline-block
        border-bottom: 2px solid #3C763D
    &.bad
      margin-bottom: 5px
      background-color: #f2dede
      border: 1px solid #A94442
      border-radius: 4px

.add-person-modal
  .header
    margin-bottom: 20px
    padding: 10px
    background: #f6f6f6
    h3
      margin: 4px 5px
    .form-inline
      float: right
      .control-label
        margin-right: 5px
  .people-list
    max-height: 71vh
    overflow: auto
