.day-no-0 // Monday
  th, td
    background-color: rgba(253, 233, 217, 0.5)
.day-no-1 // Tuesday
  th, td
    background-color: rgba(250, 229, 146, 0.5)
.day-no-3 // Thursday
  th, td
    background-color: rgba(250, 229, 146, 0.5)
.day-no-4 // Friday
  th, td
    background-color: rgba(229, 223, 236, 0.5)
.day-no-5 // Saturday
  th, td
    background-color: rgba(219, 238, 243, 0.5)
.day-no-6 // Sunday
  th, td
    background-color: rgba(214, 227, 188, 0.5)

.dayForm
  .form-control
    margin-bottom: 5px
  .customizeDayName
    display: block
    margin: 12px 0
  .dayNameInputGroup
    position: relative
    i
      position: absolute
      right: 9px
      top: 8px
      font-size: 18px
      color: lightGray
      &:hover
        color: #23527c
  .cancel
    line-height: 34px

.schedule-wrapper
  clear: both
  height: 75vh
  padding-right: 7px
  overflow: auto
  table
    margin: 0

form
  margin-bottom: 5px

.person
  text-align: center
  padding: 5px

#schedule
  thead
    th
      min-width: 190px
      padding: 29px 5px
      font-weight: bold
      text-transform: uppercase
      background: white
      border-bottom: 2px solid #1A9BD2
      .filterTasks
        display: inline-block
        width: 165px
  tbody, tfoot
    th
      min-width: 155px
      height: 100px
      font-weight: bold
      text-transform: uppercase
    th, td
      border-bottom: 1px solid #1A9BD2
    td
      vertical-align: middle
  .person
    width: 100%
    font-size: 16px
    font-weight: 500
    white-space: nowrap
    img
      display: block
      margin: 0 auto
    .mail-to-be-sent
      display: inline-block
      margin-left: 10px
      font-size: 20px
      vertical-align: top
    .buttons
      display: inline-block
      margin-left: 10px
      vertical-align: middle
      .accept-duty, .reject-duty
        width: 28px
        padding: 2px
        font-size: 24px
        text-align: center
        border-radius: 5px
        &:hover:not(.selected)
          background: lightGray
          cursor: pointer
    .accept-duty
      margin-right: 5px
      &.selected
        background: #3c763d
        color: white
    .reject-duty
      &.selected
        background: #a94442
        color: white

.person
  &.bad
    color: #a94442
  &.good
    color: #3c763d

.same-height-columns
  display: flex
  flex: 1 0 auto
  > div
    flex: 1 0 auto
  .divider
    border-right: 1px solid #fafafa
    border-left: 1px solid #f2f2f2

.drop-target
  background: #eee !important
  border: 5px dashed #ddd
.drop-hover
  background: #e4f1df !important

.day-column
  min-width: 180px

.downloadPlanning
  margin-left: 20px
  i
    margin-right: 5px
