.please-sign-in
  position absolute
  top: 80px
  right: 60px
  width 445px
  padding 10px
  text-align center
  color #8a6d3b
  background #fcf8e3
  -webkit-border-radius 9px
  -moz-border-radius 9px
  border-radius 9px
  border #faebcc solid 4px
  &:after
    content ''
    position absolute
    border-style solid
    border-width 0 15px 15px
    border-color #fcf8e3 transparent
    display block
    width 0
    z-index 1
    top -15px
    left 378px
  &:before
    content ''
    position absolute
    border-style solid
    border-width 0 18px 18px
    border-color #faebcc transparent
    display block
    width 0
    z-index 0
    top -22px
    left 375px


.logo-fullpage
  margin-top: 160px
