.users-table
  tbody
    tr:hover
      cursor: pointer
      td
        background: #dadada !important

#userForm
  .autoform-array-item-body
    .panel, .form-group
      margin-bottom 0
  .autoform-remove-item, .autoform-add-item
    color #333 !important
    background-color #fff !important
    border-color #ccc !important
    &:hover
      background-color #ebebeb !important
      border-color #adadad !important
