td
  .fa
    font-size: 30px

.userPresence, .usersPresence
  td
    &:hover
      cursor pointer
      background: lightGray !important

.userPresence
  table
    float: left
    width: auto
    margin: 0 20px

.usersPresence
  table
    display: block
    overflow: auto
    th
      .form-group
        margin: 0
        input
          width: 100%

.presenceCell
  padding 3px 0 0
  text-align center
