td
  .fa
    font-size: 30px

.fc-day-header
  height: 50px
  text-transform: capitalize

.fc-day
  background: #fafafa

.fc-day-number
  position: relative
  z-index: 2

.fc-event
  position: relative
  margin: -24px 0 -10px 0
  padding: 28px
  text-align: center
  background: white
  border: none
  border-radius: 0
  z-index: 1
  &:hover
    background: #1B9AD2
    .fa
      color: white
  .fa
    font-size: 40px

.userPresence
  table
    float: left
    width: auto
    margin: 0 20px

.usersPresence
  table
    display: block
    overflow: auto
    th
      .form-group
        margin: 0
        input
          width: 100%

.presenceCell
  padding 3px 0 0
  text-align center
