#user-presence-calendar
  .header-days
    .header-day
      font-weight: bold
      line-height: 50px
      background: white
      border-bottom: 2px solid #1A9BD2
      text-transform: uppercase
      text-align: center
  td.day
    position: relative
    width: calc(100% / 7)
    height: 100px
    padding-top: 40px
    background: #fafafa
    text-align: center
    vertical-align: middle
    .day-number
      position: absolute
      top: 0
      left: 0
      right: 0
      padding: 5px
      z-index: 2
    &.with-events
      background: white
      .day-number
        font-weight: bold
        border-bottom: 1px solid #DDD
      .group
        border-bottom: 1px solid rgb(221, 221, 221)
        padding-bottom: 5px
        margin-bottom: 5px
        &:last-child
          border: none
          margin: 0
          padding: 0
        .checkbox
          display: inline-block
          margin: 0
          padding: 5px 10px
          line-height: 16px
          border-radius: 4px
          cursor: pointer
          &:hover
            background: #1B9AD2
            .name, .fa
              color: white
            .name span
              color: #fafafa
          .name, .fa
            vertical-align: middle
          .name
            display: inline-block
            width: 94px
            margin-right: 4px
            font-size: 15px
            font-weight: bold
            color: #5E5E5E
            span
              display: block
              color: #838383
              font-weight: normal
          .fa
            font-size: 30px
