$bleu24 = #1A9BD2

#user-presence-calendar
  .header-days
    .header-day
      font-weight: bold
      line-height: 50px
      background: white
      border-bottom: 2px solid $bleu24
      text-transform: uppercase
      text-align: center
  td.day
    position: relative
    width: calc(100% / 7)
    height: 100px
    padding-top: 40px
    background: #fafafa
    text-align: center
    vertical-align: top
    .day-number
      position: absolute
      top: 0
      left: 0
      right: 0
      padding: 5px
      z-index: 2
    &.with-events
      background: white
      .day-number
        font-weight: bold
        border-bottom: 1px solid #DDD
      .day-message
        position: absolute
        top: 5px
        right: 10px
        cursor: pointer
        z-index: 3
        .on .on, .off:hover .on
          display: inline-block
          color: $bleu24
        .on:hover .off
          display: inline-block
        .on .off, .off .on, .on:hover .on, .off:hover .off
          display: none
      .group
        margin-bottom: 10px
        &:last-child
          border: none
          margin: 0
          padding: 0
        .name
          margin-bottom: 5px
          padding-bottom: 5px
          border-bottom: 1px solid #DDD
          font-weight: 600
        .checkbox
          display: inline-block
          margin: 0
          padding: 3px 7px 3px 10px
          line-height: 16px
          border-radius: 4px
          cursor: pointer
          &:hover:not(.disabled)
            background: #1B9AD2
            .detail, .fa
              color: #fafafa
          &.disabled
            opacity: 0.5
            cursor: not-allowed
          .detail, .fa
            vertical-align: middle
          .detail
            display: inline-block
            width: 90px
            margin-right: 4px
            font-size: 14px
            font-weight: bold
            color: #838383
            text-align: right
          .fa
            width: 28px
            margin-top: 1px
            margin-left: 3px
            font-size: 30px
            text-align: left
.day-message-form
  margin-bottom: 0
  padding: 20px
  h2
    margin: 5px 0 10px 0
    .fa
      position: relative
      top: -1px
      margin-right: 10px
      color: $bleu24
  .subtitle
    font-size: 16px
    color: #333
    margin-bottom: 15px
  textarea
    width: 100%
    height: 100px
    margin-bottom: 10px
    font-size: 16px
    border-radius: 3px
  button, a
    float: right
    width: 200px
    margin-left: 10px
