#user-presence-calendar
  .header-days
    .header-day
      font-weight: bold
      line-height: 50px
      background: white
      border-bottom: 2px solid #1A9BD2
      text-transform: uppercase
      text-align: center
  td.day
    position: relative
    width: calc(100% / 7)
    height: 100px
    background: #fafafa
    text-align: center
    vertical-align: middle
    .day-number
      position: absolute
      top: 10px
      right: 10px
      z-index: 2
    .checkbox
      margin: 0
    &.with-one-event, &.with-multiple-events
      background: white
    &.with-one-event
      .checkbox
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        padding-top: 32px
        .fa
          font-size: 40px
    &.with-multiple-events
      .checkbox
        display: inline-block
        padding: 5px 10px
        border-radius: 4px
        .detail, .fa
          vertical-align: middle
        .detail
          display: inline-block
          width: 36px
          margin-right: 4px
          text-align: right
          font-weight: bold
          color: #5E5E5E
        .fa
          font-size: 30px
    &.with-one-event, &.with-multiple-events
      cursor: pointer
      .checkbox
        &:hover
          background: #1B9AD2
          .detail, .fa
            color: white
