$primary-color = #1A9BD3

.notAvailable, .becomeAvailable
  float: right
  width: 300px
  white-space: normal
  i, span
    display: inline-block
    vertical-align: middle
  i
    margin-right: 5px
    font-size: 20px
  span
    width: 240px

.availabilities-disabled
  #user-presence-calendar
    position: relative
    .inactive-overlay
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(0, 0, 0, 0.8)
      z-index: 10
      -webkit-user-select: none
    .availabilities-disabled-message
      position: absolute
      top: 50px
      left: 20%
      width: 60%
      padding: 35px
      font-size: 18px
      text-align: center
      background-color: white
      border: 23px solid $primary-color
      border-radius: 6px
      z-index: 10
      h2
        margin-top: 0
        color: $primary-color
        img, span
          display: inline-block
          vertical-align: middle
        img
          width: 25%
        span
          width: 65%
          margin-left: 15px
      strong
        font-size: 20px
        .contact-info
          margin-top: 10px
          &:first-child
            margin-top: 20px
